In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
sns.set(style="white", rc={"axes.facecolor": (0, 0, 0, 0)})

# Create the data
rs = np.random.RandomState(1979)
x = rs.randn(500)
g = np.tile(list("ABCDEFGHIJ"), 50)
df = pd.DataFrame(dict(x=x, g=g))
m = df.g.map(ord)

In [15]:
df

             x  g
0    64.038123  A
1    66.147050  B
2    66.370011  C
3    68.791019  D
4    70.583534  E
..         ... ..
495  69.358022  F
496  72.212877  G
497  70.474247  H
498  73.251022  I
499  74.461828  J

[500 rows x 2 columns]